<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Ecommerce{% endblock %}</title>
</head>
<body>
  <nav>
    <nav>
      <a href="{% url 'home' %}">Home</a> |
      <a href="{% url 'product_list' %}">Products</a> |
      <a href="/admin/">Admin</a> |
    
      {% if user.is_authenticated %}
        <span>Hi, {{ user.username }}</span> |
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
    <hr>
    
  </nav>
  <hr>
  <main>
    {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>


